.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 99;
	background: $black;
	box-shadow: 0px 4px 4px rgba(19, 20, 23, 0.4);
	height: 8rem;

	&__wrapper {
		display: contents;
		transition: transform 0.55s;
	}

	&__burger {
		display: none;
		position: relative;
		width: 22px;
		height: 12px;
		z-index: 999;
		flex-direction: column;
		justify-content: space-between;

		&:before,
		&:after,
		&-line {
			background: $orage;
			content: "";
			display: block;
			height: 2px;
			width: 100%;
			transition: 0.5s;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&-logo {
		width: 4.6rem;
		height: 4.6rem;
		display: flex;
		align-items: center;
		justify-content: center;

		&__svg {
			width: 100%;
			height: 100%;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
		}
	}

	&__row {
		margin: 0 auto;
		max-width: 123.8rem;
		padding: 1.7rem 2.2rem;
		align-items: center;
		justify-content: space-between;
		display: grid;
		grid-template-columns: auto minmax(67.8rem, auto) auto;
	}

	&-nav {
		&__list {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}

		&__svg {
			margin-left: 1.1rem;
			width: 1.3rem;
			height: 2.1rem;
		}

		&__item {
			margin: 0 1.5rem;
		}

		&__link {
			color: $milky;
			display: flex;
			align-items: center;

			&:hover, &:active, &:focus {
				color: $red;
			}
		}

		&-dropdown {
			position: relative;

			&:hover, &:active, &:focus {
				background: none;

				> a {
					> .header-nav-dropdown__icon {
						transform: rotate(-90deg);

						&_nested {
							transform: rotate(0deg);
						}
					}
				}

				> .header-nav-dropdown__menu {
					animation: 0.5s slideUp ease forwards .1ms;
				}
			}

			&__link {
				display: flex;
				align-items: center;

				&:hover, &:active, &:focus {
					color: $milky;
				}
			}

			&__icon {
				height: .6rem;
				width: .8rem;
				margin-left: .9rem;
				transition: .3s;
				transform: rotate(90deg);
			}

			&__menu {
				transform: translateY(-200%);
				opacity: 0;
				width: 32rem;
				background: $gray;
				border-radius: 0 0 .8rem .8rem;
				position: absolute;
				left: 0;
				top: 5rem;
				font-size: 16px;

				&:before {
					content: '';
					background-image: url('../img/icons/drop-arrow.svg');
					background-position: center;
					background-size: cover;
					background-repeat: no-repeat;
					height: 2.8rem;
					width: 1.4rem;
					transform: rotate(90deg);
					position: absolute;
					top: -2rem;
					left: 4.7rem;
				}

				&_nested {
					left: 34.2rem;
					top: -4.1rem;
					border-radius: .8rem;

					.header-nav-dropdown__item {
						&:first-child {
							border-radius: .8rem .8rem 0 0;
						}
					}

					&:before {
						transform: rotate(0);
						left: -1.4rem;
						top: 4.5rem;
					}

					&:after {
						content: "";
						left: -50%;
						top: 0;
						right: 0;
						bottom: 0;
						width: 100%;
						height: 100%;
						position: absolute;
					}
				}
			}

			&__item {
				padding: .8rem 1rem .8rem 1.8rem;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
				width: 100%;
				position: relative;
				z-index: 1;

				&:last-child {
					border-bottom: none;
					border-radius: 0 0 .8rem .8rem;
				}

				&:hover, &:active, &:focus {
					background: $black;
				}
			}
		}
	}

	&-link {
		display: flex;
		align-items: center;
		font-weight: 500;
		color: $white;

		&__icon {
			height: 1.8rem;
			width: 1.8rem;
			margin-right: 13px;
		}
	}
}

@media only screen and (max-width: $large-tablet) {
	.header {
		&-nav {
			&__list {
				justify-content: center;
			}

			&__link {
				&:hover, &:active, &:focus {
					color: $milky;
				}
			}

			&-dropdown {
				&__item {

					&:hover, &:active, &:focus {
						background: inherit;
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $small-tablet) {
	.header {
		&__row {
			display: flex;
			align-items: center;
		}

		&__burger {
			display: flex;
		}

		&__wrapper {
			position: fixed;
			top: 8rem;
			right: 0;
			width: 100%;
			max-width: 37.4rem;
			height: 100%;
			overflow-y: auto;
			transform: translateX(100%);
			display: flex;
			flex-direction: column;
			align-items: center;
			background: $black;
			box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.25);
			padding: 0 0 10rem;
		}

		&-nav {
			width: 100%;

			&__list {
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
			}

			&__item {
				margin: 0;
				overflow: hidden;
				text-align: center;
				width: 100%;
			}

			&__link {
				width: 100%;
				padding: 2rem;
				background: $gray;
				border-bottom: 1px solid $black;
			}

			&-dropdown {
				padding: 0;


				&:hover, &:active, &:focus {
					background: none;

					> a {
						> .header-nav-dropdown__icon {
							&_nested {
								transform: rotate(-90deg);
							}
						}
					}

					> .header-nav-dropdown__menu {
						display: block;
					}
				}

				&__link {
					display: flex;
					align-items: center;

					&:hover, &:active, &:focus {
						color: $milky;
					}
				}

				&__icon {
					height: .6rem;
					width: .8rem;
					margin-left: .9rem;
					transition: .3s;
				}

				&__menu {
					transform: translateY(-200%);
					display: none;
					width: 100%;
					background: none;
					border-radius: 0;
					position: static;

					&:before {
						content: none;
					}

					&_nested {
						border-radius: 0;

						.header-nav-dropdown__item {
							&:first-child {
								border-radius: 0;
							}
						}

						&:after {
							content: none;
						}
					}
				}

				&__item {
					text-align: left;
					padding: 2rem;
					overflow: hidden;
					width: 100%;
					background: $gray;
					border-bottom: 1px solid $black;

					&:last-child {
						border-bottom: 1px solid $black;
						border-radius: 0;
					}

					&:hover, &:active, &:focus {
						background: $gray;
					}
				}

				&_nested {
					background: $black;
					padding: 0;

					.header-nav-dropdown {
						&__link {
							padding: 2rem;
							border-bottom: 1px solid $black;

							&_nested {
								padding: 2rem;

								&:hover, &:active, &:focus {
									background: $black;
								}
							}
						}
					}
				}

				&__link {
					padding: 2rem;
					border-bottom: 1px solid $black;

					&_nested {
						padding: 0;
						border-bottom: none;
					}
				}
			}
		}

		&.show {
			.header {
				&__wrapper {
					transform: translateX(0px);
				}

				&__burger {
					height: 15px;
					width: 15px;
					position: relative;

					&:before,
					&:after,
					&-line {
						width: 22px;
						top: 6px;
						position: absolute;
						transform: rotateZ(45deg);
					}

					&-line {
						right: -7px;
						transform: rotateZ(-45deg);
					}
				}
			}
		}
	}
}

@media only screen and (max-width: $medium-mobile) {
	.header {
		&__row {
			display: grid;
			grid-template-columns: 1fr 4.9rem 22px;
		}

		&-nav {
			&__list {
				align-items: flex-start;
			}
		}

		&-link {
			&__icon {
				margin-right: 0;
			}

			&__text {
				display: none;
			}
		}
	}
}
